.worksBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    background-color: var(--second-bg-color);
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.works {
    width: 100%;
    background-color: #fdf4d6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 1005px) {
    .works {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .works > div:last-child {
        margin-bottom: 0;
    }
}



