.header {
    height: 80px;
    background: rgb(74, 76, 76);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 760px) {
    .header {
        justify-content: center;
    }
}