.contactBlock {
    height: auto;
    padding: 100px 0;
    background-color: var(--second-bg-color);
}

.contactContainer {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.contactForm {
    min-width: 42%;
    max-width: 50%;
}

.contactForm input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: .1px;
    border: 3px solid rgba(255, 255, 255, .2);
    color: rgba(198, 201, 216, .75);
    background: 0 0;
}

.contactForm input::placeholder {
    color: #717173;
}

.contactForm textarea {
    height: 150px;
    width: 100%;
    resize: none;
}

.contactBtn {
    border: 3px solid #f9004d;
    background: #f9004d;
    cursor: pointer;
    height: 59px;
    width: auto;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 15px 40px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 600;
    transition: .3s;
    text-transform: uppercase;
}

.contactBtn:hover {
    color: #c6c9d8;
    border: 3px solid #f9004d;
    box-shadow: 0 10px 15px 0 rgba(249, 0, 77, .1);
    background: 0 0;
    transform: translateY(-5px);
}


