.contactsBlock {
    min-height: 50vh;
    background-color: #efccf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    /*display: flex;*/
    flex-direction: column;
    /*align-items: center;*/
}

.title {
    background-color: #9ba0a0;
}
.contactsTitle {
    background-color: #91d0d0;
}
.input_textarea {
    color: #ecd8eb;
    min-height: 50vh;
}
.conctsButton {
    background-color: #6a6e6e;
}


