@import '../Common/styles/mixins';

.workingBlock {
  height: auto;
  padding: 60px 0;
  background-color: var(--first-bg-color);

  .container {
    @include container();
    @include display(flex, flex-start, $f-der: column);

    .workingBtn {
      color: white;
      border: 3px solid rgba(255, 255, 255, .3);

      &:hover {
        background-color: #f9004d;
        border: 3px solid #f9004d;
      }
    }
  }
}