.workingBlock {
    min-height: 50vh;
    background: rgb(74, 76, 76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workingContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    text-align: center;
    background-color: #e72020;
}

.hireButton {
    width: 110px;
    height: 40px;
    background-color: #e72020;
}

