.workingBlock {
    min-height: 50vh;
    background: rgb(160, 170, 11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workingContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: forestgreen;
}

.hireButton {
    width: 110px;
    height: 40px;
}

