@import '../Common/styles/mixins';

.skillsBlock {
  height: auto;
  padding: 60px 0;
  background-color: var(--first-bg-color);

  .container {
    @include container();
    @include display(flex, $f-der: column);

    .skills {
      @include display(flex, center, $wrap: wrap);
      width: 100%;
    }
  }
}