.mainBlock {
    height: auto;
    padding: 50px 0;
    background: rgb(114, 117, 117);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.greeting {
    width: 300px;
    background: #c3c3c3;
}

.photo {
    width: 300px;
    height: 300px;
    background-color: #e72020;
    background-size: cover;
}

@media screen and (max-width: 760px) {
    .greeting {
        text-align: center;
    }
    .photo {
    }
}
