.defaultBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: .2px;
    color: #fff;
    background: 0 0;
    transition: .3s;
}

.buttonWrapper a {
    padding: 0 25px;
}

.buttonWrapper:hover {
    cursor: pointer;
    background-color: #f9004d;
    border: 3px solid #f9004d;
    transform: translateY(-3px);
}