@import '../../styles/mixins.scss';

.defaultBtn {
    @include display(flex, center, center);
    outline: none;
    cursor: pointer;
}

.buttonWrapper {
    @include display(flex, center, center);
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: .2px;
    transition: .3s;
    padding: 0 25px;
    cursor: pointer;
    outline: none;

        &:hover {
            transform: translateY(-3px);
        }
}
