.project {
    width: 200px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.picture {
    height: 60px;
    width: 60px;
    background-image: url("http://earth-chronicles.ru/Publications_14/122/29693864a68334b8960a677fd5d27246_1534177693-b.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 30px;
}

.projectTitle {
    padding: 22px 0 20px 0;
    font-size: 21px;
    font-weight: 300;
    color: #333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
    text-align: center;
}

.descriptionText {
    color: #535050;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 14px;
}

.clickUrl {
    background-color: transparent;
}