.projectsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8d0d4;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #efeaea;
}

.projects {
    border: 1px solid;
    width: 100%;
    background-color: #fdf4d6;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}